<md-card  style="width: 500px;" role="dialog" aria-label="Edit Company" layout="column" layout-align="center center">
    <md-toolbar layout="row" layout-align="none center">
        <div class="md-toolbar-tools">
            <h2 class="plane-editCompany-title">{{title}}</h2>
        </div>

        <md-button id="plane-editCompany-deleteCompany"
                   ng-show="!isNewCompany"
                   class="md-raised md-warn md-mini"
                   aria-label="Delete Company"
                   ng-click="ctrl.deleteCompany()">
            delete
        </md-button>
    </md-toolbar>

    <div>
        <form name="companyEditForm" flex layout="row" layout-wrap layout-align="center">
            <md-input-container layout="row" flex="90">
                <label>Company Name</label>
                <input type="text" ng-model="company.name" ng-required="true"/>
            </md-input-container>
        </form>
        <div layout="row">
            <md-button md-auto-focus
                       flex
                       class="md-raised md-primary plane-editCompany-save"
                       ng-click="ctrl.saveCompany()">
                Save
            </md-button>
            <md-button class="md-primary plane-editCompany-close" flex ng-click="ctrl.closeDialog()">
                Cancel
            </md-button>
        </div>
    </div>
</md-card>