/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.user-dialog {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 13px 19px 2px rgba(0, 0, 0, 0.14),
    0 5px 24px 4px rgba(0, 0, 0, 0.12);
    width: 500px;
}

form[name="userEditForm"], form[name="companyEditForm"], form[name="actionEditForm"] {
    padding-top: 25px;
    padding-bottom: 25px;
}

md-input-container {
    margin: 9px 0;
}

.view-user-filter {
    margin: 0 40px 0 40px;
}

md-switch {
    margin: 0px;
}

form[name="viewLoginForm"] {
    margin: 40px;
}

#view-login-content {
    margin: 15px;
}

#header-title {
    margin-left: 20px;
}

#header-right {
    margin-right: 10px;
}

/* Source: https://github.com/angular/material/issues/6214 */
md-input-container .md-errors-spacer {
    min-height: 0;
}

.material-icons.md-48 {
    font-size: 48px;
}

.view-editDialplan-button-large{
    min-width: 1%;
    width: 60px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
}

.view-editDialplan-button-large md-icon{
    width: 48px;
    height: 48px;
}

.reservespace.ng-hide {
    display: block!important;
    visibility: hidden;
}

.view-action-error{
    color: rgb(221,44,0) !important;
    font-size: 12px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.center  {
    text-align: center;
}

h1 {
    padding-left: 10px;
}

md-list {
    padding: 0;
}
