<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="rocketvoip" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="rocketvoip" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="rocketvoip" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="rocketvoip" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rocket VOIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div style="height: 100%; overflow-y: auto">
    <md-toolbar ng-controller="HeaderCtrl as ctrl">
        <div id="header-title" layout="row" layout-align="left center">
            <h1>Rocket VOIP
                <small>Phone Management</small>
            </h1>
            <div ng-show="$root.isLoggedIn === true" id="header-right" flex layout="column" layout-align="end end">
                <md-button id="logout" class="md-warn md-mini md-fab md-icon-button" ng-click="logout()"
                           aria-label="Logout">
                    <md-tooltip>Logout</md-tooltip>
                    <md-icon aria-label="Logout">exit_to_app</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-nav-bar aria-label="navigation" ng-show="$root.isLoggedIn === true">
            <md-nav-item md-nav-href="#!/dashboard">Dashboard</md-nav-item>
            <md-nav-item md-nav-href="#!/view_users">Users</md-nav-item>
            <md-nav-item md-nav-href="#!/view_dialplans">Dial Plans</md-nav-item>
            <md-nav-item md-nav-href="#!/view_companies">Companies</md-nav-item>
            <span flex></span>
            <md-nav-item ng-if="$root.isGlobalAdmin === true" md-nav-href="#!/view_admins">Admins</md-nav-item>


        </md-nav-bar>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view></div>
    </md-content>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="app.js"></script>
<script src="view_dashboard/view_dashboard.js"></script>
<script src="view_users/panel_editUser.js"></script>
<script src="view_users/view_users.js"></script>
<script src="view_companies/view_companies.js"></script>
<script src="view_companies/panel_editCompany.js"></script>
<script src="view_login/view_login.js"></script>
<script src="view_header/view_header.js"></script>
<script src="view_dialplans/view_dialplans.js"></script>
<script src="view_dialplans/view_editDialplan.js"></script>
<script src="view_dialplans/panel_action.js"></script>
<script src="view_admins/view_admins.js"></script>
<script src="services/authentication_service.js"></script>
<script src="services/utility_service.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>

</body>
</html>
