<div role="dialog" aria-label="Edit User" layout="column" layout-align="center center">
    <md-toolbar layout="row" layout-align="none center">
        <div class="md-toolbar-tools">
            <h2 class="plane-editUser-title">{{title}}</h2>
        </div>

        <md-button id="plane-editUser-deleteUser" ng-show="!isNewSipClient" class="md-raised md-warn md-mini"
                   aria-label="Delete User" ng-click="ctrl.deleteSipClient()">
            delete
        </md-button>

    </md-toolbar>

    <div>
        <form name="userEditForm" flex layout="row" layout-wrap layout-align="center">

            <md-input-container layout="row" flex="90">
                <label>Name</label>
                <input type="text" ng-model="sipClient.name" ng-required="true">
            </md-input-container>

            <md-input-container layout="row" flex="90">
                <label>Phone Number</label>
                <input type="text" ng-model="sipClient.phone" ng-required="true">
            </md-input-container>

            <div layout="row" flex="90">
                <md-input-container flex="90" layout="row">
                    <label>Secret</label>
                    <input type="text" ng-model="sipClient.secret" ng-required="true">
                </md-input-container>

                <md-button id="plane-editUser-generatePW" md-mini flex="10" layout="row"
                           ng-click="sipClient.secret=ctrl.generateSecret()">
                    Generate
                </md-button>
            </div>

        </form>
    </div>

    <div layout="row">
        <md-button class="plane-editUser-save" md-autofocus flex class="md-raised md-primary"
                   ng-click="ctrl.saveSipClient()">
            Save
        </md-button>

        <div layout="row">
            <md-button class="plane-editUser-close" flex class="md-primary" ng-click="ctrl.closeDialog()">
                Close
            </md-button>
        </div>
    </div>

</div>