<md-card style="width: 600px;" role="dialog" aria-label="Edit action">
    <md-toolbar layout="row" layout-align="none center">
        <div class="md-toolbar-tools">
            <h2 class="plane-action-title" ng-if="isNewDialplan">Add a new Action</h2>
            <h2 class="plane-action-title" ng-if="!isNewDialplan">Edit Action {{nameCopy}}</h2>

        </div>

        <md-button id="plane-action-delete"
                   ng-show="!isNewDialplan"
                   class="md-raised md-warn md-mini"
                   aria-label="Delete Action"
                   ng-click="deleteAction()">
            delete
        </md-button>
    </md-toolbar>

    <div>
        <form name="actionEditForm" flex layout="row" layout-wrap layout-align="center">

            <md-input-container flex="90" layout="column">
                <label>Action Name</label>
                <input type="text" name="name" ng-model="action.name" ng-required="true">
            </md-input-container>

            <md-select flex="90" layout="column" ng-if="isNewDialplan && !(action.type)" ng-model="action.type" required
                       placeholder="Select an action type"
                       class="view-editAction-select" ng-change="initType()">
                <md-option ng-value="type.name" ng-repeat="type in types">{{type.text}}
                </md-option>
            </md-select>

            <md-input-container ng-if="action.type === 'SayAlpha'" flex="90" layout="column">
                <label>Voice Message</label>
                <textarea name="voiceMessage" ng-model="action.typeSpecific.voiceMessage" md-maxlength="350" rows="7"
                          md-select-on-focus ng-required="true">
                </textarea>
            </md-input-container>

            <md-input-container ng-if="action.type === 'SayAlpha'" flex="90" layout="column">
                <label>Wait time after voice message</label>
                <input ng-model="action.typeSpecific.sleepTime" type="number" step="1" ng-required="true"
                       min="0" max="30">
            </md-input-container>

            <md-input-container ng-if="action.type === 'Dial'" flex="90" layout="column">
                <label>Time</label>
                <input ng-model="action.typeSpecific.ringingTime" type="number" step="1" ng-required="true"
                       min="0" max="30">
            </md-input-container>

            <md-contact-chips ng-if="action.type === 'Dial'" flex="90" layout="column" ng-model="action.typeSpecific.sipClients"
                              md-contacts="sipClients | filterBy: ['name', 'phone']: $query | filter:{company:{id: action.company.id}}"
                              md-contact-name="name" md-contact-email="phone" md-require-match="true"
                              md-highlight-flags="i" filter-selected="true" placeholder="Choose members...">
            </md-contact-chips>
            <div ng-if="action.type === 'Dial' && action.typeSpecific.sipClients.length < 1">
                <p class="view-action-error">Please choose at least one sip client.</p>
            </div>

        </form>
    </div>

    <div layout="column" layout-align="center center">
        <div>
            <md-button id="plane-editAction-save" md-autofocus flex class="md-raised md-primary"
                       ng-click="saveAction()">
                Save
            </md-button>

            <md-button class="plane-editAction-close" flex class="md-primary" ng-click="closeDialog()">
                Close
            </md-button>
        </div>
    </div>

</md-card>