<div ng-controller="ViewEditDialplanCtrl as ctrl">
    <div ng-show="dialplan">
        <h1 ng-show="isNewDialplan" flex>Create new Dialplan</h1>
        <h1 ng-show="!isNewDialplan" flex>Edit Dialplan "{{dialplan.name}}"</h1>
        <p>Company: {{dialplan.company.name}}</p>
        <div flex layout="row">
            <div flex="40" layout-align="start center">
                <div layout="row" layout-align="center center">
                    <h2>Actions</h2>
                </div>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item flex="100" ng-repeat="action in actions">
                        <p> {{ action.name }} </p>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit"
                                   ng-click="edit(action)" aria-label="Edit">
                            <md-icon aria-label="Edit">edit</md-icon>
                        </md-button>
                        <md-checkbox class="md-secondary" ng-model="action.selected"></md-checkbox>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="edit(null)">Add Action</md-button>
                </div>

            </div>
            <div flex="20" layout-align="center center" layout="column">
                <md-button class="view-editDialplan-button-large md-raised"
                           ng-click="moveSelectedActions(dialplan.actions,actions)">
                    <md-icon aria-label="left" class="material-icons step md-48">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="view-editDialplan-button-large md-raised"
                           ng-click="moveSelectedActions(actions,dialplan.actions)">
                    <md-icon aria-label="left" class="material-icons step md-48">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <div flex="40" layout-align="start center">
                <div layout="row" layout-align="center center">
                    <h2>Dialplan</h2>
                </div>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item flex="100" ng-repeat="action in dialplan.actions">
                        <p> {{ action.name }} </p>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit reservespace"
                                   ng-hide="$last" ng-click="swap(action,+1)" aria-label="Edit">
                            <md-icon aria-label="Edit">expand_more</md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit reservespace"
                                   ng-hide="$first" ng-click="swap(action,-1)" aria-label="Edit">
                            <md-icon aria-label="Edit">expand_less</md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit"
                                   ng-click="edit(action)" aria-label="Edit">
                            <md-icon aria-label="Edit">edit</md-icon>
                        </md-button>
                        <md-checkbox class="md-secondary" ng-model="action.selected"></md-checkbox>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>

    </div>
</div>