<div ng-controller="ViewEditDialplanCtrl as ctrl">
    <div>
        <div layout="row" layout-wrap layout-align="center">
            <h1 ng-show="isNewDialplan" flex>Create new Dialplan</h1>
            <h1 ng-show="!isNewDialplan" flex>Edit Dialplan "{{dialplan.name}}"</h1>

            <div layout="column" layout-align=" center">
                <p>Company: <b>{{dialplan.company.name}}</b></p>

                <div layout="row">
                    <md-button class="md-fab md-warn md-secondary button-save-dialplan" aria-label="Save Dialplan"
                               ng-click="saveDialplan()">
                        <md-tooltip>Save Dialplan</md-tooltip>
                        <md-icon>save</md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn md-secondary button-close-dialplan" aria-label="Close"
                               ng-click="closeDialplan()">
                        <md-tooltip>Back to all dialplans</md-tooltip>
                        <md-icon>reply</md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn md-secondary button-delete-dialplan" aria-label="Close"
                               ng-click="deleteDialplan()">
                        <md-tooltip>Deleate Dialplan</md-tooltip>
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </div>

        </div>

        <div flex layout="row" layout-align="center center">
            <form name="dialplanEditForm" flex="60" layout-align="start center">

                <md-input-container layout="column">
                    <label>Dialplan name</label>
                    <input type="text" name="nome" ng-model="dialplan.name" required>
                </md-input-container>

                <md-input-container layout="column">
                    <label>Phone Number (optional)</label>
                    <input type="text" name="phone" ng-model="dialplan.phone" ng-pattern='/^((\+[0-9]+)|([0-9]+))$/'>
                    <div ng-messages="dialplanEditForm.phone.$error">
                        <div ng-message="pattern">Format: +41711234567, 0711234567 or 123</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <h4>Dialplan Actions</h4>
                </div>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item flex="100" ng-if="dialplan.actions.length == 0" class="center">
                        <p>There are no actions in this dialplan. Please add an action.</p>
                    </md-list-item>
                    <md-list-item flex="100" ng-repeat="action in dialplan.actions">
                        <p>
                            <b ng-if="action.type == 'SayAlpha'">Voice Message:</b>
                            <b ng-if="action.type == 'Dial'">Team:</b>
                            {{ action.name }}
                        </p>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit reservespace"
                                   ng-hide="$last" ng-click="swap(action,+1)" aria-label="Edit">
                            <md-icon aria-label="Edit">expand_more</md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit reservespace"
                                   ng-hide="$first" ng-click="swap(action,-1)" aria-label="Edit">
                            <md-icon aria-label="Edit">expand_less</md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button view-editDialplan-edit"
                                   ng-click="edit(action)" aria-label="Edit">
                            <md-icon aria-label="Edit">edit</md-icon>
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="edit(null)">Add Action</md-button>
                </div>

            </form>
        </div>
    </div>

</div>
</div>