<md-dialog id="dialog-resetPassword" aria-label="Reset Admin Password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Reset Password - User</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
            <form name="resetPasswordForm" layout="row" layout-wrap layout-align="center">
                <div>
                    <p>Reset Password of Admin <strong>{{admin.firstName}} {{admin.lastName}}</strong></p>
                </div>
                <md-input-container layout="column" flex="90">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="admin.password" required ng-minlength="8">
                    <div ng-messages="resetPasswordForm.password.$error">
                        <div ng-message="minlength">The last name must contain at least 8 characters.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" flex="90">
                    <label>Confirm password</label>
                    <input match-password="password" type="password" name="confirmPassword" ng-model="confirmPassword"
                           required ng-minlength="8">
                    <div ng-messages="resetPasswordForm.confirmPassword.$error">
                        <div ng-message="passwordMatch">Your passwords did not match.</div>
                    </div>
                </md-input-container>
            </form>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">


        <md-button md-auto-focus class="md-raised md-primary dialog-resetPassword-save" ng-click="save()">
            Reset Password
        </md-button>
        <md-button class="md-primary dialog-resetPassword-close" ng-click="close()">
            Cancel
        </md-button>

    </md-dialog-actions>
</md-dialog>