<div ng-controller="ViewAdminsCtrl as ctrl" id="view-admins">
    <div layout="row" layout-align="start center">
        <h1>Manage Administrators</h1>
        <span flex></span>
        <md-input-container class="rocketvoip-filter">
            <label>Search</label>
            <input id="view-admin-filter-input" ng-model="filter" type="text">
        </md-input-container>
        <md-button md-colors="::{background: 'primary-900'}" class="md-fab" aria-label="Add Administrator"
                   ng-click="showDialog(null)">
            <md-tooltip>Add Addministrator</md-tooltip>
            <md-icon md-colors="::{color: 'primary-50'}">add</md-icon>
        </md-button>
    </div>
    <md-subheader>
        <div layout="row">
            <div flex="30" ng-click="sortReverse = !sortReverse">
                <a>Email Address</a>
                <span ng-show="!sortReverse">
                        <md-icon aria-label="Sort Down">keyboard_arrow_down</md-icon>
                    </span>
                <span ng-show="sortReverse">
                        <md-icon aria-label="Sort Up">keyboard_arrow_up</md-icon>
                    </span>
            </div>
            <div flex="60" layout="row" layout-align="start center">
                <a>Companies</a>
            </div>
            <span flex></span>
            <div layout="row" layout-align="start center">
                <a>Actions</a>
            </div>
        </div>
    </md-subheader>
    <md-content>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-repeat="admin in admins | orderBy:sortType:sortReverse | filter:filter">
                <div class="view-admins-adminName" flex="30">
                    <strong>{{admin.userName}}</strong>
                </div>
                <div flex="60">
                    <p>
                        <span ng-repeat="company in admin.companyDtoList | orderBy:'name':false">
                            <span ng-show="!$last">{{company.name}}, </span>
                            <span ng-show="$last">{{company.name}}</span>
                        </span>
                    </p>
                </div>
                <span flex></span>
                <div>
                    <md-button class="md-icon-button view-admins-editAdmin" ng-click="showDialog(admin)"
                               aria-label="Edit Administrator">
                        <md-tooltip>Edit Administrator</md-tooltip>
                        <md-icon aria-label="Edit Administrator">edit</md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>


</div>